nav 
{
    background-color: white;
    padding: 20px;
    text-align:center;
}
nav img
{
    height: 60px
}
nav a
{
    color:black;
    text-decoration:none;
    font-size:30px;
    margin:0 15px;
    padding: 8px 15px;
    border-radius:5px;
    transition:0.3s ease;
}
nav a:hover
{
    background-color:#7d9b81;
    padding: 20px;
    text-align:center;
}

nav {
    background-color: white;
    padding: 20px;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1000; 
}

body
{
    margin: 0;
    font-family: 'Times New Roman', Time, serif;
    background-color: #7d9b81;
}
header
{
    background: white;
    color:black;
    text-align:center;
    padding:80px 20px;
}
header h1
{
    margin: 0;
    font-size: 50px;
}
header p
{
    margin-top: 10px;
    font-size:18px;
}

/*Gallery*/


#gallery
{
    padding:50px;
    text-align:center;
}
#gallery h2
{
    font-size: 40px;
    padding: 10px;
}
#gallery div
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 20px;
}

/*About Page*/

#about
{
    background: white;
    padding: 80px;
    text-align:center;
}
#about h2
{
    font-size: 40px;
    padding: 10px;
}
#about p
{
    max-width:600px;
    margin: auto;
    font-size:20px;
}

/*Feedbackl and Form */

#feedback
{
    background:#7d9b81;
    padding:80px;
}
#feedback h2
{
    text-align:center;
    font-size: 40px;
    padding: 5px;
}
#feedback div
{
    max-width: 600px;
    margin: 30px auto;
    background:white;
    padding:20px;
    border-radius:5px;
}
#feedback form
{
    text-align:left;
}
#feedback form input,
#feedback form textarea
{
    width:100%;
    padding:8px;
    margin-bottom:15px;
}

#feedback form button
{
    background:#7d9b81;
    color:white;
    padding:10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
#feedback form button:hover
{
    background: #7d9b81;
    color: white;
    transform: scale(1.05);
}
/*Footer*/

footer
{
    background:white;
    color:black;
    text-align:center;
    padding:50px;
}

footer p
{
    margin:10px;
}
/*Gallery Image Handling hoveringa and Detail*/
#gallery-grid
{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap:wrap;
    gap: 30px;
    justify-content: center;
}

.artwork
{
    width: 280px;
    height:280px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.artwork img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

.modal img
{
    max-width: 90%;
    max-height:70%;
    margin-bottom: 15px;
}
.modal p
{
    color: white;
    font-size: 25px;
}

.modal .close
{
    position: absolute;
    top: 20px; 
    right: 600px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.modal:target
{
    display: flex;
}

/*ICons for the Instagram and Thread*/
.social-icon
{
    font-size: 20px;
    margin: 10px;
    transition: 0.3s ease;
}
.social-icon .fa-instagram
{
    color: #E1306C
}
.social-icon .fa-threads
{
    color: black;
}

.social-icon:hover
{
    transform: scale(1.2);
    opacity: 0.7;
}

/* Media Query Mobile*/

@media (max-width: 600px)
{
    #gallery-grid
    {
        grid-template-columns: 1fr;
    }
    header h1
    {
        font-size: 28px;
    }
    nav a 
    {
        display: block;
        margin: 10px 0;
        font-size: 18px;
    }
    #about p, 
    #feedback form
    {
        padding: 0 15px;
    }
}

